/* Top menu items */
#menu-items {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.menu-item {
	display: block;
	padding: 10px;
	font-size: 15px;
	font-family: Arial,  sans-serif;
}

.menu-item a {
	text-decoration: none;
	color: #000;
}
.menu-item a:hover {
	text-decoration: underline;
}





/* Google Logo */
#logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 30px;
	padding-top: 100px;
}
/*images text under logo on image search page*/
#logo-container span {
	font-family: roboto-regular, arial, sans-serif;
	font-size: 16px;
	color: #4285f4;
	transform: translate(-100%,0%);
}






/*search box container*/

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#search-box {
	border: 2px solid #dfe1e5;
	border-radius: 50px;
	padding: 8px 8px 2px 14px;
	
	width: 560px;
	height: 35px;

	display: flex;
}

#search-box:hover, #search-box:focus-within {
	box-shadow: 1px 1px 8px 1px #dfe1e5;
}

#icon {
	padding-top: 3px;
	height: 12px;
	color: #9CA1A6;
}

#text-box {
	outline: none;
	border: none;
	padding-left: 10px;
	font-size: 15px;
	width: 500px;
	height: 30px;
}



#buttons-container {
	margin-top: 10px;
	display: flex;
}

#buttons-container button {
	margin: 11px 6px;
	padding: 0px 16px;

	height: 40px;
	min-width: 93px;

	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f8f9fa;
	border: 1px solid #dfe1e5;
	border-radius: 4px;
}

#buttons-container button:hover {
	box-shadow: 1px 1px 8px 1px #f8f9fa;
}