{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Entry
{% endblock %}


{% block body %}

    {% if entry_exists %}
    <div class="alert alert-danger" style="margin-top: 20px; width: 85%;" role="alert">
        <h2 class="alert-heading"> This Entry Already Exists<strong>!</strong></h2>
        The entry you are trying to add is already on the wiki. 
        Click <a href="{% url 'encyclopedia:entry' entry_title%}"><strong>here</strong></a> to See and Edit the contents of it.
    </div>
    {% endif %}

    <h2> Create Entry</h2>
    <form action="{% url 'encyclopedia:create' %}" method="post">
        {% csrf_token %}
        <h3> Title: </h1>
        {{ entry_form.title }}
        <h3> Content: </h1>
        {{ entry_form.contents}}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="width: 80%;">
            <input class="btn btn-secondary" type="submit" value="Save Entry">
        </div>
    </form>
{% endblock %}