{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{entry_name}}
{% endblock %}

{% block body %}
    {% if contents %}
    <form action="{% url 'encyclopedia:edit' entry_name %}">
        {% csrf_token %}
        <div class="d-flex justify-content-end " style="width: 98%;">
            <button class="btn btn-secondary" type="submit"> Edit Page </button>
        </div>   
    </form>
        {{contents|safe}}
    {% else %}
        <h1 style="color: red; text-align: center;"> Page Not Found </h1>
    {% endif %}
{% endblock %}