{% extends "network/layout.html" %}

{% block body %}
    {% if message %}
        <div class="alert alert-warning px-4" role="alert"> 
            {{message}} 
        </div>
    {% endif %}

    <h1>New Post</h1>
    
    <form action="{% url 'create_post' %}" method="post" class="py-3 px-4">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" autofocus name="content" placeholder="Content" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Create Post">
    </form>
{% endblock %}