{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="text-capitalize"> {{profile_user.username}} </h1>

    <h5 class="pb-2">{{profile_user.email}}</h5>

    {% if user.is_authenticated %}
        {% if profile_user != request.user %}
            {% if follows %}
                <form action="{% url 'unfollow' profile_user.username %}" class="pb-2" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm"> Unfollow </button>
                </form>
            {% else %}
                <form action="{% url 'follow' profile_user.username %}" class="pb-2" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm"> Follow </button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}

    <div class="d-flex flex-row justify-content-around pb-4">
        <div class="text-center"> <strong>{{profile_user.followers.count}}</strong> <br> Followers </div>
        <div class="text-center"> <strong>{{profile_user.following.count}}</strong> <br> Following  </div>
        <div class="text-center"> <strong>{{profile_user.posts.count}}</strong> <br> Posts  </div>
    </div>

    <hr>

    <h2> Posts </h2>
    {% for post in posts %} 
            <div class="post" data-post_id={{post.id}}>
                <div class="content-above-div" >
                    <a class="font-weight-bolder text-capitalize" href="{% url 'user_profile' post.poster.username %}"> {{ post.poster }} </a>

                    <!-- show edit post button only if current user is poster -->
                    {% if request.user == post.poster %}
                        <button class="edit-btn btn btn-primary btn-sm" data-update_url="{% url 'update_post' post.id %}"> Edit Post</button>
                    {% endif %}
                </div>

                <div class="content"> {{ post.content }} </div>

                <div class="content-below-div">
                    <div class="likes"> 
                        {% if user.is_authenticated %}
                            {% if request.user in post.liked_users.all %}
                                <i class="bi bi-suit-heart-fill" data-like_url="{% url 'like_post' post.id %}"></i> 
                            {% else %}
                                <i class="bi bi-suit-heart" data-like_url="{% url 'like_post' post.id %}"></i> 
                            {% endif %}
                        {% else %}
                            <i class="bi bi-suit-heart text-muted"></i>
                        {% endif %}
                            <span class="likes-count"> {{ post.liked_users.count }} </span>
                    </div>
                    <div class="text-muted"> {{post.date_created}}</div>
                </div>
                
            </div>
    {% endfor %}

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link"> Page {{ posts.number }} </a></li>

            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}