{% extends "auctions/layout.html" %}

{% block static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #listing-image {
            max-height: 400px; 
            max-width: 500px; 
            object-fit: scale-down; 
            margin: 30px;
        }
        .listing {
            margin: 50px;
        }
    </style>
{% endblock %}


{% block body %}
    <!-- Lisitng image price and watchlist, bid buttons block -->
    <div class="d-flex flex-row">
        <!-- Image -->
        <div class="d-flex w-50 justify-content-center ">
            {% if listing.image_url %}
                <img id="listing-image" class="border m-2" src="{{ listing.image_url }}"> 
            {% else %}
                <img id="listing-image" class="border m-2" src="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg"> 
            {% endif %}
        </div>
        <!-- Product Title and Price Details -->
        <div class="d-flex flex-column w-50">
            <h1> {{ listing.title }} </h1>
            <h3> ${{ listing.get_max_bid }}</h3>
            {% if request.user.is_authenticated %}
                {% if listing.active %}
                    <p> <strong> {{ listing.get_bid_count }} bids </strong> so far. You can make a new bid</p>
                    <!-- Place Bid Form -->
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-inline">
                            <input type="text" class="form-control mr-4" id="BidAmount" name="bidprice" placeholder="Bid Amount">
                            <button type="submit" class="btn btn-primary btn-md "> Place Bid </button>
                        </div>
                        {% if bid_error_message %}
                                <p class="text-danger"> {{ bid_error_message }} </p>
                        {% endif %}
                    </form>
                
                {% elif request.user == listing.get_max_bid_user %}
                    <h4 class="mt-4"> 🎉 Congrats! You won this listing 🎉. </h4>

                {% else %}
                    <h4 class="mt-4"> 🥺 Sorry This listing is closed and not active. </h4>
                
                {% endif %}

                <!-- Add or Remove From Watchlist Buttons -->
                <form action="{% url 'watchlist_operation' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="mt-4">
                        {% if not_in_watchlist %}
                            <button type="submit" name="operation" value="add" class="btn btn-primary btn-md w-50">
                                Add to Watchlist
                            </button>
                        {% else %}
                            <button type="submit" name="operation" value="remove" class="btn btn-primary btn-md w-50"> 
                                Remove from Watchlist
                            </button>
                        {% endif %}
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <!-- Close the Listing -->
    {% if request.user.is_authenticated %}
        {% if request.user == listing.user %}
        <div class="m-4">
            <h4> Close Listing: </h4>
            <form action="{% url 'close' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-md"> Close Listing </button>
            </form>
            <p> Click this Button to close this auction listing. </p>
        </div>
        {% endif %}
    {% endif %}
    
    <!-- Description Section -->
    <div class="m-4">
        <h4> Description: </h4>
        <h6> {{ listing.description }} </h6>
    </div>

    <!-- Deatails Section -->
    <div class="m-4">
        <h4> Details: </h4>
        <ul>
            <li> Listed by: {{ listing.user }} </li>
            <li class="text-capitalize"> Category: {% if listing.category %} {{ listing.category }}  {% else %} No Category Listed {% endif %}</li>
            <li> Created: {{ listing.created_at }}</li>
            <li> Active: {% if listing.active %} Yes {% else %} No {% endif %}</li>
        </ul>
    </div>

    <!-- Comments Section -->
    <div class="m-4">
        <h4> Comments </h4>
        <hr>
        <!-- Comment Form -->
        {% if request.user.is_authenticated %}
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="bg-light p-2">
                <div class="d-flex flex-row align-items-start">
                    <img class="rounded-circle" src="https://i0.wp.com/sbcf.fr/wp-content/uploads/2018/03/sbcf-default-avatar.png" width="40"> 
                    {{comment_form}} 
                </div>
                <div class="mt-2 text-right">
                    <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                </div>
            </div>
        </form>
        {% endif %}


        <!-- Comments -->
        {% for comment in listing.comments.all %}
            <hr>
            <div class="d-flex flex-row align-items-center">
                <img class="rounded-circle mr-2" src="https://i0.wp.com/sbcf.fr/wp-content/uploads/2018/03/sbcf-default-avatar.png" width="30"> 
                <div class="text-capitalize" style="font-size: 18px;"> {{comment.user.username}} </div>
            </div>
            <div class="m-2"> {{ comment.content }} </div>
        {% endfor %}
    </div>
{% endblock %}