textarea {
    min-height: 400px;
}

.email_preview_box {
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px;
    border-radius: none;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#subject_and_name {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#email-body {
    white-space: pre-line;
}

